<main>
  <div class="container">

    <div class="display-container">
      <div class="top-banner">
        <div class="name">
          <p class="casio">CASIO</p>
          <p class="model"><i>fx</i>-85MS</p>
        </div>
        <div class="solar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <p class="display">{{expression}}</p>
    </div>

    <div class="input-container">
      <div class="commandNum-container">
        <div class="command-container">
          <button  (click)="command(commandKeyMapping.delete.key)" >{{ commandKeyMapping.delete.key }}</button>
        </div>

        <div class="number-container calc-container">
          <button  *ngFor="let i of numbersArray" (click)="concat(i)" >{{ i }}</button>
          <button class="zero" (click)="concat('0')" >0</button>
          <button (click)="calculate()" [disabled]="!response?.success">=</button>
        </div>
      </div>

      <div class="operator-container calc-container">
        <button (click)="command(commandKeyMapping.clear.key)">{{commandKeyMapping.clear.key}}</button>
					<button *ngFor="let item of getObjectKeys(commandKeyMapping).slice(2)" (click)="concat(commandKeyMapping[item].key)">{{ commandKeyMapping[item].key }}</button>
      </div>
    </div>
  </div>
  <div class="info-container">
    <div class="info">

      <div class="history">
        <h2>History</h2>
        <ul>
          <li *ngFor="let item of history">{{ item.expression }} = {{ item.val }}</li>
        </ul>
      </div>
      <div class="errors-container">
        <div class="error-message" *ngIf="errorMessage">
          <h2>Validation errors  found:</h2>
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</main>
