.casio {
  display: inline;
  font-size: 26px;
  font-weight: bold;
  color: #9A9DA5;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  width: 400px;
  background: #242632;
  border-radius: 40px 40px 100px 100px;
  box-shadow: 0px 10px 20px rgba(49, 49, 49, .5);
}

.top-banner {
  display: flex;
  justify-content: space-between;
}

.display-container {
  width: 310px;
  margin-left: 16px;
  padding: 20px 20px 0px;

  .model {
    display: block;
    color: #9A9DA5;
    text-indent: 12px;
  }
}


.display {
  padding: 20px;
  background: #9EB3AF;
  font-size: 24px;
  border: 10px inset rgba(179, 158, 173, 0.22);
  text-align: right;
  letter-spacing: 5px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
  min-height: 84px;
  max-height: 84px;
  box-sizing: border-box;
}

.error-message {
  color: red;
}

.solar {
  border: 5px inset #293C46;
  background: #46463C;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  display: flex;

  span {
    border-right: 2px solid #31342C;
    width: 23.01px;
    height: inherit;
    display: block;
  }

}


button {
  background: #2C303B;
  color: white;
  border: 3px solid #191B21;
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  margin: 5px;
  font-size: 27px;
  min-width: 70px;
  min-height: 50px;
  cursor: pointer;
  outline: none;
  border-radius: 10px 10px 20px 20px;
}

.input-container {
  display: flex;
  padding: 0 20px 50px;
}


.number-container {
  border-radius: 30px;
}

.command-container {
  display: flex;
  justify-content: flex-end;

  button {
    background: #E38F4F;
    color: black;
  }
}

.screen-container {
  position: relative;
}

.info-container {
  background-color: #f0f0f0;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 64px;
  width: 400px;
}

li {
  padding: 8px;
  list-style: none;
}
